extends ../../../views/index

block content
	link(rel='stylesheet', href='/css/forms.css')
	
	

	mixin link(caption, href, fieldValue)
		.content-row
			ul.inline
				li.caption  #{caption} : 
					li.text
						if (fieldValue)
							a(href="#{href}", target="_blank") #{fieldValue} 
						else
							p.placeholder #{caption}
							
	mixin textline(caption, fieldValue)
		.content-row
			ul.inline
				li.caption #{caption}
					|  :   
				li.text
					if (fieldValue)
						| #{fieldValue}
					else
						p.placeholder 
							= caption 

	mixin address(address)
		.content-row
			ul.inline
				li.span6
					div
						div 
							strong Adresse de #{address.addressType} 
						div.text 
							address
								| #{address.street}
								br
								| #{address.zipCode}, #{address.city}
								br
								| #{address.country} 
				li
					a.maps(id="#{address._id}", href="#") 
						i.icon-location-2
						|  Google maps
				li
					a(data-toggle="modal", href="#address-#{address._id}")
						i.icon-pencil-6
						|  Modifier
				li
					a(href="#") 
						i.icon-minus-3
						|  Supprimer
		.modal.hide.fade(id="address-#{address._id}", style="display:none", aria-hidden="true")
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true")
				h3 Adresse
				
			.modal-body
				.content-row
					label(for="street") Adresse 
					.input-group
						input#street(type="text", name="street", placeholder="Rue...", value="#{address.street}")
						.xdelete
				.content-row
					label(for="zipCode") Code postal 
					.input-group
						input#zipCode(type="text", name="zipCode", placeholder="Code postal...", value="#{address.zipCode}")
						.xdelete	
				.content-row
					label(for="street") Ville 
					.input-group
						input#city(type="text", name="city", placeholder="Ville...", value="#{address.city}")
						.xdelete
				.content-row
					label(for="street") Pays 
					.input-group
						input#country(type="text", name="country", placeholder="Pays...", value="#{address.country}")
						.xdelete
				
			.modal-footer
				button.btn.btn-small Enregistrer

	mixin contact(contact)
		.content-row
			ul.inline
				li.span8
					div
						div 
							strong 
								i.icon-user-6
								|   #{contact.name.first} #{contact.name.last}
						div.text 
							address
								a(href="mailto:titi@toto.com") #{contact.email}
								br
								i.icon-phone-2 :
								|  #{contact.phone}
								br
								i.icon-mobile-2 :
								|  #{contact.mobile} 
				li
					a(href="#") 
						i.icon-pencil-6
						|  Modifier
				li
					a(href="#") 
						i.icon-minus-3
						|  Supprimer

	.container(style="margin-top: 15px;")
		div.header
			div.section-title.clearfix
				.win-commandlayout.win-ui-dark.pull-left
					a(href="/sales/customers").win-command.win-command-small
						span.win-commandicon.win-commandring.icon-arrow-left-14
						span.title -  Détails client
		.row-fluid
			.container-content
				.content-heading.image
					img(src="#{customer.logo}")
					div.card-heading-header
						input#customerId(type="hidden", value="#{customer._id}")
						h3 #{customer.customerName}
						span #{customer.description}

				.content-body
					h4.fg-color-blue Coordonnées
					section
						+link('Site web', customer.website, customer.website)
						+link('Email', 'mailto:'+customer.email, customer.email)
						+textline('Téléphone', customer.phone)		
						+textline('Mobile', customer.mobile)	
						+textline('Secteur d\'activité', customer.industry)	
						+textline('Numéro TVA', customer.gstNumber)
						.content-row
							ul.inline
								li
									strong
										a(href="/sales/updateCustomerView/#{customer._id}").pull-right
											i.icon-pencil-6
											|  Modifier
					
					h4.fg-color-green Adresses
					section
						.content-row.clearfix
							if (customer.addresses)
								- each address, i in customer.addresses
									+address(address, i)
						.content-row
							span 
								strong
									a(href="#")
										i.icon-plus-3 
										| Ajouter

					h4.fg-color-pink Contacts
					section
						.content-row.clearfix
							if (customer.contacts)
								- each contact in customer.contacts
									+contact(contact)
						.content-row
							span 
								strong
									a(href="#")
										i.icon-plus-3 
										| Ajouter
block script
	script.
		$(document).ready(function (){
			
			//Localisation 
			$(".maps").on('click', function(e){
				console.log("maps ...");
				var addressId = e.currentTarget.id;
				window.location.href="/sales/customer/address/maps/#{customer._id}/"+addressId;
				
			});
		});

