extends ../../../views/index

block content
    .container(style="margin-top: 15px;")
        div.header
            a(href="/sales/customers")
                img(src="/images/backbutton24x24.png")
            span.section-title   Détails du client 
                strong.fg-color-red #{model.customerName}
        .row-fluid
            div.dialogPanel#customerPanel
                div.dialogHeader
                    ul.nav.nav-pills
                        li.active
                            a(href="#infos", data-toggle="tab", rel="popover",
                                data-content="Informations concernant ce client",
                                data-original-title="Marwael").win-command
                                    span.win-commandimage.win-commandring &#xe000;
                                    span.win-label Infos
                        li
                            a(href="#address", data-toggle="tab").win-command
                                span.win-commandimage.win-commandring &#xe033;
                                span.win-label Adresses
                        li
                            a(href="#php", data-toggle="tab").win-command
                                    span.win-commandimage.win-commandring &#xe045;
                                    span.win-label Géré par
                        li
                            a(href="#php", data-toggle="tab").win-command
                                    span.win-commandimage.win-commandring &#xe080;
                                    span.win-label Banque
                        li
                            a(href="#php", data-toggle="tab").win-command
                                    span.win-commandimage.win-commandring &#xe001;
                                    span.win-label Contacts
                div.tab-content
                    div.tab-pane#infos.active
                        form.form-horizontal
                            fieldset
                                div.control-group
                                    label.control-label(for="customerCode") Code client : 
                                    div.controls
                                        input#customerCode(type="text", placeholder="Code client", value="#{model.customerCode}")
                                div.control-group
                                    label.control-label(for="customerName") Nom du client : 
                                    div.controls
                                        input#customerName(type="text", placeholder="Nom du client", value="#{model.customerName}")
                                div.control-group
                                    label.control-label(for="website") Site web : 
                                    div.controls
                                        input#website(type="text", placeholder="http://xyz.com", value="#{model.website}")
                                div.control-group
                                    label.control-label(for="description") Description : 
                                    div.controls
                                        input#description(type="text", placeholder="Description", value="#{model.description}")
                                div.control-group
                                    label.control-label(for="industryList") Activité : 
                                    div.controls
                                        select.btn.btn-mini#industryList
                                            option(value="Informatique") Informatique
                                            option(value="Banque") Banque
                                            option(value="Assurance") Assurance
                                        span.caret
                                div.control-group
                                    label.control-label(for="statusList") Statut : 
                                    div.controls
                                        select.btn.btn-mini#statusList
                                            option(value="Client") Client
                                            option(value="Prospet") Prospet
                                            option(value="contact") Contact
                                        span.caret
                                div.controls
                                    button#save1.btn.btn-small.btn-primary(type="submit") Enregistrer

                    div.tab-pane#address 
                        div.span12.offset2
                            div.row-fluid(style="margin-bottom:0;")
                                form
                                    h4 Adresse
                                    
                                    div.controls(style="margin-bottom:8px;")
                                        select.btn.btn-mini#addressList
                                                    option(value="Facturation") Facturation
                                                    option(value="Livraison") Livraison
                                                    option(value="Postale") Postale
                                                span.caret
                                    div.controls
                                        input#street.span6(type="text", placeholder="Rue", value="")
                                    div.controls.controls-row(style="margin-bottom:8px;")
                                            input#zipCode.span2(type="zipCode", placeholder="Code postal", value="")
                                            input#city.span4(type="city", placeholder="Ville", value="")
                                    div.controls
                                        input#country.span6(type="text", placeholder="Pays", value="")
                                    div.controls
                                        button.btn.btn-small.btn-primary(type="submit") Enregistrer

                            div.row-fluid
                                form
                                    h4 Adresse
                                    
                                    div.controls(style="margin-bottom:8px;")
                                        select.btn.btn-mini#addressList
                                                    option(value="Facturation") Facturation
                                                    option(value="Livraison") Livraison
                                                    option(value="Postale") Postale
                                                span.caret
                                    div.controls
                                        input#street.span6(type="text", placeholder="Rue", value="")
                                    div.controls.controls-row(style="margin-bottom:8px;")
                                            input#zipCode.span2(type="zipCode", placeholder="Code postal", value="")
                                            input#city.span4(type="city", placeholder="Ville", value="")
                                    div.controls
                                        input#country.span6(type="text", placeholder="Pays", value="")
                                    div.controls
                                        button.btn.btn-small.btn-primary(type="submit") Enregistrer

                                

                                        

                    div.tab-pane#php 
                        p PHP content

block script
    script.
        $(document).ready(function (){
            $("#test").on('click', function(e) {
                $('#customerPanel').fadeOut();
                setTimeout("nav('/login')",1000);
                return false;
            });
        });
        function nav(href){
            location.href=href;
        };
