extends ../../../views/index

block content
    .container(style="margin-top: 15px;")
        div.header
            div.section-title
                a(href="/sales/customers")
                    span.win-backbutton
                    span  #{model.customer.customerName}
                
        .row-fluid
            div.dialogPanel#customerPanel
                div.dialogHeader
                    ul.nav.nav-pills
                        li.active
                            a#li-infos(href="#infos", data-toggle="tab").win-command
                                span.win-commandicon.win-commandring.icon-vcard
                                span.win-label Infos
                        li
                            a#li-address(href="#address", data-toggle="tab").win-command
                                span.win-commandicon.win-commandring.icon-location
                                span.win-label Adresses
                        li
                            a#li-bank(href="#bank", data-toggle="tab").win-command
                                    span.win-commandicon.win-commandring.icon-credit-card
                                    span.win-label Banque
                        li
                            a#li-contacts(href="#contacts", data-toggle="tab").win-command
                                    span.win-commandicon.win-commandring.icon-users-3
                                    span.win-label Contacts
                div.tab-content
                    div.tab-pane#infos.active
                        form.form-horizontal(method="POST", action="/sales/updateCustomer/#{model.customer._id}" )
                            fieldset
                                div.control-group
                                    label.control-label(for="customerCode") Code client :
                                    div.controls
                                        input#customerCode(type="text", name="customerCode", required, placeholder="Code client", value="#{model.customer.customerCode}")
                                div.control-group
                                    label.control-label(for="customerName") Nom du client : 
                                    div.controls
                                        input#customerName(type="text", name="customerName", required, placeholder="Nom du client", value="#{model.customer.customerName}")
                                div.control-group
                                    label.control-label(for="website") Site web : 
                                    div.controls
                                        input#website(type="url", name="website", placeholder="http://xyz.com", value="#{model.customer.website}")
                                div.control-group
                                    label.control-label(for="description") Description : 
                                    div.controls
                                        textarea#description(type="text", name="description", placeholder="Description") #{model.customer.description}
                                div.control-group
                                    label.control-label(for="industryList") Activité :
                                    div.controls
                                        select.btn.btn-mini#industryList(name="industry")
                                            if (model.industryList)
                                                - each industry in model.industryList
                                                    option(value="#{industry.industry}", selected=(industry.industry == model.customer.industry)) #{industry.industry}
                                        span.caret
                                div.control-group
                                    label.control-label(for="description") Code TVA : 
                                    div.controls
                                        input#gstCode(type="text", name="gstCode", placeholder="Code TVA", value="#{model.customer.gstCode}")
                                
                                div.control-group
                                    label.control-label(for="statusList") Statut : 
                                    div.controls
                                        select.btn.btn-mini#statusList(name="status")
                                            if (model.statusList)
                                                - each status in model.statusList
                                                    option(value="#{status.status}", selected=(status.status == model.customer.status)) #{status.status}
                                        span.caret
                                div.control-group
                                    label.control-label(for="managerList") Suivi par : 
                                    div.controls
                                        select.btn.btn-mini#managerList(name="customer_owner")
                                            if (model.managerList)
                                                - each manager in model.managerList
                                                    option(value="#{manager._id}", selected=(manager._id == model.customer.customer_owner._id)) #{manager.name.first} #{manager.name.last}
                                        span.caret
                                div.controls
                                    button#save1.btn.btn-small.btn-primary(type="submit") Enregistrer

                    div.tab-pane#address 
                        div.span9.offset2
                            div(style="margin-bottom: 2px")
                                button.pull-right.btn.btn-danger.btn-mini(type="button", data-toggle="collapse", data-target="#inputPanel") 
                                    i.icon-plus
                                    |  Ajouter une adresse
                                span#error.pull-right
                                div#inputPanel.collapse
                                    div.well
                                        form(method="POST", action="/sales/insertAddress/#{model.customer._id}" )
                                            div.controls(style="margin-bottom:8px;")
                                                select.btn.btn-mini#addressList(name="addressType", required)
                                                    if (model.addressType)
                                                        - each addressType in model.addressType
                                                            option(value="#{addressType.addressType}") #{addressType.addressType}
                                                span.caret
                                            div.controls
                                                textarea#street.span8(type="text", name="street", required, placeholder="Rue")
                                            div.controls.controls-row(style="margin-bottom:8px;")
                                                    input#zipCode.span2(type="zipCode", name="zipCode", required, placeholder="Code postal")
                                                    input#city.span6(type="city", name="city", required, placeholder="Ville")
                                            div.controls
                                                input#country.span8(type="text", name="country", required, placeholder="Pays")
                                            div.controls
                                                button.btn.btn-small.btn-primary(type="submit") Enregistrer
                            if (model.customer.addresses)
                                - each address, i in model.customer.addresses
                                    div.row-fluid(style="margin-bottom:0;")
                                        form(method="POST", action="/sales/updateAddress/#{model.customer._id}/#{address._id}" )
                                            div.controls(style="margin-bottom:8px;") 
                                                //- addresses.$. permet d'insérer les données dans les sous-documents addresses du document CustomerModel
                                                select.btn.btn-mini#addressList(name="addresses.$.addressType", required)
                                                    if (model.addressType)
                                                        - each addressType in model.addressType
                                                            option(value="#{addressType.addressType}", selected=(addressType.addressType == address.addressType)) #{addressType.addressType}
                                                span.caret
                                            div.controls
                                                textarea#street.span6(type="text", name="addresses.$.street", required, placeholder="Rue") #{address.street}
                                            div.controls.controls-row(style="margin-bottom:8px;")
                                                    input#zipCode.span2(type="zipCode", name="addresses.$.zipCode", required, placeholder="Code postal", value="#{address.zipCode}")
                                                    input#city.span4(type="city", name="addresses.$.city", required, placeholder="Ville", value="#{address.city}")
                                            div.controls
                                                input#country.span6(type="text", name="addresses.$.country", required, placeholder="Pays", value="#{address.country}")
                                            div.controls.btn-toolbar
                                                button.btn.btn-small.btn-primary(type="submit") Enregistrer
                                                button.deleteAddress.btn.btn-small.btn-danger(id="#{address._id}", type="button")  Supprimer
                                                button.maps.btn(id="#{address._id}", type="button") 
                                                    i.icon-location
                                                    | Localiser sur google Maps

                    div.tab-pane#manager
                        span Manager
                        span#error2.pull-right
                        div.control-group(style)
                            label.control-label(for="customerCode") Adresse :
                            div.controls
                                input#geoAddress(type="text", name="geoAddress", required, placeholder="Adress")
                            div.controls
                                button#geoBtn.btn Geo code 

                        div#map-canvas.border-color-red(style="width:auto; height:320px;margin:auto;padding:0;") 
                         
                    div.tab-pane#bank
                        form.form-horizontal 
                            div.control-group
                                label.control-label(for="bank_name") Domiciliation bancaire :
                                div.controls
                                    input#bankName(type="text", placeholder="domiciliation", name="bank.bank_name", value="#{model.customer.bank.bank_name}")
                                    strong.fg-color-red *
                            div.control-group
                                label.control-label(for="accountNumber") Numéro du Compte : 
                                div.controls
                                    input#accountNumber(type="text", placeholder="Numéro de compte", value="#{model.customer.bank.account_no}")
                            div.control-group
                                label.control-label(for="currency") Devise : 
                                div.controls
                                    input#currency(type="text", placeholder="devise", value="#{model.customer.bank.currency}", style="margin-bottom:20px;")
                                div.controls
                                    button.btn.btn-small.btn-primary(type="submit") Enregistrer
                    
                    div.tab-pane#contacts
                        
                            .container-fluid
                                h4  Liste des contacts
                                .row-fluid
                                    center
                                        .win-commandlayout
                                            button#searchBtn.win-command
                                                span.win-commandicon.win-commandring.icon-search-4
                                                span.win-label Rech.
                                            button#addBtn.win-command
                                                span.win-commandicon.win-commandring.icon-plus-4
                                                span.win-label Ajouter
                                            hr.win-command
                                            button#prevBtn.win-command
                                                span.win-commandicon.win-commandring.icon-arrow-left-9
                                                span.win-label Préc.
                                            button#nextBtn.win-command
                                                span.win-commandicon.win-commandring.icon-arrow-right-8
                                                span.win-label Suiv.
                                .row-fluid
                                    center
                                        #contacts-list
                                            if (model.customer.contacts)
                                                - each contact, i in model.customer.contacts 
                                                    .tile(style="width:190px; height:200px;background-color:#FFF;color:#333;border:1px solid #ccc")
                                                        //.card
                                                            figure.front
                                                        center 
                                                            div(style="font-size:30px;padding-top:10px;background-color:#6A6A6A").fg-color-white 
                                                                i.icon-user-3
                                                            .text-inner(style="padding:10px;")   
                                                                .text-header #{contact.name.first} #{contact.name.last}  
                                                                h5   #{contact.email}
                                                                - each phone in contact.phones
                                                                    h5   #{phone.phoneType} : #{phone.number}

block script
    
    script.
        
        
        $(document).ready(function (){
            //Show the right panel
            $("#li-#{active}").trigger('click');
            
            
            //Localisation 
            $(".maps").on('click', function(e){
                console.log("maps ...");
                var id = e.currentTarget.id;
                console.log("#addr-"+id);
                
                    window.location.href="/sales/customer/address/maps/#{model.customer._id}/"+id;
            });
                
            
            $(".deleteAddress").on('click', function(e) {
                e.preventDefault();
                var idAddress = e.currentTarget.id;
                console.log("idAddress="+idAddress);
                window.location.href="/sales/deleteAddress/#{model.customer._id}/"+idAddress;
                return false;
            });
        });
        