extends ../../../views/index

block content
    link(rel='stylesheet', href='/css/forms.css')
    link(rel='stylesheet', href='/js/libs/bootstrap-fileupload.min.css')
    script(src="/js/libs/bootstrap-fileupload.min.js")

    mixin inputline(caption, fieldName, fieldValue, type, required)
        .content-row
            label(for="fieldName") #{caption}
            .input-group
                if (fieldValue)
                    input(id="#{fieldName}", type="#{type}", name="#{fieldName}", placeholder="#{caption}...", value="#{fieldValue}", required="#{required}")
                else
                    input(id="#{fieldName}", type="#{type}", name="#{fieldName}", placeholder="#{caption}...", required="#{required}")

                .xdelete

        
        

    .container(style="margin-top: 15px;")
        div.header
            div.section-title.clearfix
                .win-commandlayout.win-ui-dark.pull-left
                    a(href="/sales/customers").win-command.win-command-small
                        span.win-commandicon.win-commandring.icon-arrow-left-14
                        span.title -  Nouveau client
                    
        .row-fluid
            .container-content
                .content-heading
                    +inputline(" Rechercher un client", "autocomplete", "", "text", false)
                .content-body
                    form(method="POST", action="/sales/insertCustomer", enctype="multipart/form-data")
                        section
                            .content-row(style="height:85px")
                                .fileupload.fileupload-new(data-provides="fileupload").pull-left
                                    .fileupload-new.thumbnail(style="width: 60px; height: 60px;")
                                        img(src="http://www.placehold.it/60x60/EFEFEF/AAAAAA&text=logo")

                                    .fileupload-preview.fileupload-exists.thumbnail(style="width: 60px; height: 60px; line-height: 20px;")
                                    div.upload
                                        span.btn.btn-file
                                            span.fileupload-new 
                                                i.icon-camera-2
                                            span.fileupload-exists 
                                                i.icon-camera-2
                                            input#logoname(type="file", name="logo")
                                        span.btn.btn-file
                                            span.fileupload-exists(href="#", data-dismiss="fileupload", style="float:none") 
                                                i.icon-trashcan-2
                        h4.fg-color-red Nom du client
                        section
                            +inputline("Nom du client", "customerName", "", "text", true)
                            .content-row
                                label(for="customerName") Description
                                .input-group
                                    textarea#description(type="text", name="description", placeholder="Nom du client...") 
                                    .xdelete

                        h4.fg-color-blue Coordonnées
                        section
                            +inputline("Site web", "website", "", "url", false)
                            +inputline("Email", "email", "", "email", true)
                            +inputline("Téléphone", "phone", "", "text", true)
                            +inputline("Mobile", "mobile", "", "text", false)
                            .content-row
                                label(for="test") Secteur d'activité
                                select.btn.btn-mini#industryList(name="industry")
                                    if (model.industryList)
                                        - each industry in model.industryList
                                            option(value="#{industry.industry}") #{industry.industry}
                            +inputline("Numéro de TVA", "gstNumber", "", "text", false)
                        section
                            ul.inline.pull-right
                                li
                                    a(href="/sales/customers")
                                        button.btn.btn-small(type="button") Annuler
                                li
                                    button.btn.btn-small Enregistrer
block script
    script.
        $(document).ready(function (){
                $('.fileupload').fileupload({uploadtype: 'image'});
                
                //Localisation 
                $(".xdelete").on('click', function(e){
                    console.log("xdelete ...");
                    $(this).parent().children("input").val("");
                    $(this).parent().children("textarea").text("");
                    
                });

                var formatCustomerInfos = function(place){
                    var customer = {};
                    for (index in place.address_components){
                        var type = place.address_components[index].types[0];
                        customer[type] = place.address_components[index].long_name;
                        
                    }
                    return customer;
                    
                }
                var input = document.getElementById("autocomplete");
                var options = {
                    types: ['establishment']
                };
                var autocomplete = new google.maps.places.Autocomplete(input, options);
                google.maps.event.addListener(autocomplete, 'place_changed', function(){
                    var place = autocomplete.getPlace();
                    console.log("Place = "+JSON.stringify(place));
                    var address = formatCustomerInfos(place);
                    //console.log(JSON.stringify(address));
                    console.log(place.formatted_address);
                    $('#customerName').val(place.name);
                    $('#website').val(place.website);
                    $('#phone').val(place.international_phone_number);
                    

                })
            });
